.firework:hover path.animate {
    animation-name: clignot;
    animation-duration: 2s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
}

.firework:hover path.animate1 {
    animation-name: clignot;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
}

@keyframes clignot {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}