.info {
    animation: appear 0.5s ease-in;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.info p {
    color: #431805;
    width: 70%;
    font-size: calc(0.75em + 2vmin);
}

.info h6 {
    color: #431805;
    font-size: calc(0.50em + 2vmin);
    margin: 0;
    padding: 40px 0px;
    width: 80%;
}

.info {
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .info h6 {
        width: 100%;
    }
    .info p {
        width: 100%;
    }
}