.featureCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    color: #6C5E5D;
    width: 70%;
    height: 80%;
    margin: auto;
    position: relative;
    overflow: hidden;
}

.flap1 {
    position: absolute;
    background-color: white;
    width: calc( 35% + 10px);
    padding: 0 10px;
    left: -50%;
    height: 80%;
}

.flap1.animate {
    animation: goLeft 1s ease-in;
    animation-iteration-count: 1;
}

.flap2 {
    position: absolute;
    background-color: white;
    width: calc( 35% + 10px);
    padding: 0 10px;
    height: 80%;
    right: -50%;
}

.flap2.animate {
    animation: goRight 1s ease-in;
    animation-iteration-count: 1;
}

@keyframes goRight {
    from {
        right: 0px;
    }
    to {
        right: -50%;
    }
}

@keyframes goLeft {
    from {
        left: 0px;
    }
    to {
        left: -50%;
    }
}

.featureCard img {
    min-width: 80px;
    width: 10%;
}

.featureCard h3 {
    text-align: center;
    margin-bottom: 5px;
    font-size: calc(15px + 1vmin);
}

.featureCard p {
    text-align: center;
    height: 80%;
    font-size: calc(5px + 1vmin);
    margin: 0;
}